.navbar {
  background-color: #C33736;
}

h1.header-portal {
  color: white;
}

div.visible {
  height: 2px;
  color:black;
  background-color:black;
  margin-left:1px;
  margin-right:1px;
  margin-bottom:10px;
}

div.app-title {
  margin-left: 1px;
}

.card {
  margin-left: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
  max-width:140px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Account Icon */
.dropdown {
  position: relative;
  display: inline-block;
}

.account-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

a:hover {
  color: red;
}

.account-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.account-content a:hover {background-color: #ddd}

.dropdown:hover .account-content {
  display: block;
}

/*Sample Tiles*/
/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1;
    margin-left: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
